{% extends "main.jinja" %}

{% block title %} Article not found {% endblock %}

{% block main %}
                <h1> Oops ! </h1>
                <h2> This article does not exists </h2>
                <p> We could not find this article with id {{article_id}} </p>
                <div>
                    <a href = "/" class = "btn btn-primary btn-lg"> Home </a>
                    <a href = {{url_for("view_articles_page")}} class = "btn btn-primary btn-lg"> All articles </a>
                </div>
{% endblock %}
