<!doctype html>
<html lang = "en">
    <head>
        {% include "header.jinja" %}
    </head>

    <body>
        <header>
            <h1><a href="{{url_for("view_welcome_page")}}"> Jakub Krkoska </a></h1>
        </header>
    
        <nav>
            {% include "nav.jinja" %}
        </nav>

        <main>
                {% block main %} {% endblock %}
        </main>

        <footer>
            {% include "footer.jinja" %}
        </footer>
    </body>
</html>
