{% extends "main.jinja" %}

{% block title %} Welcome to Jacobs blog {% endblock %}

{% block main %}
                rem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper ligula eget vulputate eleifend. Vestibulum in ex mi. Pellentesque at malesuada lorem, eget fermentum metus. In gravida et elit quis tempor. Quisque auctor enim in luctus fringilla. Phasellus nec risus eros. Fusce gravida arcu eget purus bibendum faucibus. a
{% endblock %}
